<ion-card>
  <ion-card-header>
    <ion-card-title>Jose Joaquin Rojas Romero</ion-card-title>
    <ion-card-subtitle>Junior FullStack Developer</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <strong class="green-text">Software Engineering</strong> graduate from the <strong class="green-text">University of
      Seville (ETSII)</strong>, I
    possess a solid technical foundation ranging from <strong class="green-text">Java APIs</strong> and Cybersecurity
    to desktop GUI development with <strong class="green-text">Python</strong>, which was the core of my Bachelor's
    Thesis (TFG). Currently, I am specializing in high-performance <strong class="green-text">Frontend
      development</strong>, fully
    immersed in the <strong class="green-text">Angular</strong> and <strong class="green-text">Ionic</strong> ecosystem
    using <strong class="green-text">Capacitor</strong>. My goal is to
    leverage
    this multidisciplinary background to build <strong class="green-text">hybrid mobile solutions</strong> and fluid
    interfaces
    that are as technically <strong class="green-text">robust</strong> as they are <strong
      class="green-text">user-friendly</strong>.
  </ion-card-content>
</ion-card>