<ion-card>
  <ion-card-header>
    <ion-card-title>Jose Joaquin Rojas Romero</ion-card-title>
    <ion-card-subtitle>Junior FullStack Developer</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    My career in development has been a journey of constant exploration
    through various layers of technology, building a comprehensive technical
    vision from the ground up. I began my path by specializing in RESTful API
    development with Java and database management, which gave me a deep
    understanding of data architecture. Later, I decided to delve into
    cybersecurity to learn how to protect those systems, and explored desktop
    application design with Python to understand local software logic.
    This multidisciplinary curiosity has led me to my current focus:
    high-performance Frontend development. Right now, I am fully immersed
    in the Angular and Ionic ecosystem, using Capacitor to create modern
    hybrid applications. My goal is to channel all this technical experience
    into building fluid interfaces and mobile solutions that are as robust on
    the inside as they are intuitive on the outside.
  </ion-card-content>
</ion-card>