<app-header-mobile></app-header-mobile>

<div class="ion-page" id="main-content">

  <app-header></app-header>

  <ion-content [fullscreen]="true">

    <app-cube-background></app-cube-background>

    <div class="main-container">

      @if (heroData) {
      <app-hero-section [data]="heroData" id="home"></app-hero-section>
      }

      @for (item of sections; track item.id) {
      <div class="section-wrapper" [id]="item.title.toLowerCase()">

        <app-sections [section]="item"></app-sections>
        <div class="content-inner">
          @switch (item.id) {
          @case (1) { <app-about-me [data]="item.extraData!" /> }
          @case (2) { <app-skills [data]="$any(item.extraData) || []" /> }
          @case (3) { <app-projects [data]="$any(item.extraData)   || []" /> }
          @case (4) { <app-works [data]="$any(item.extraData) || []" /> }
          @case (5) { <app-certs-and-education [certsAndEducation]="item.extraData?.certifications || []" />}
          @case (6) { <app-github-chart [gitHubChart]="item.extraData?.githubChart" /> }
          }
        </div>
      </div>
      }

    </div>

    <app-floating-buttons></app-floating-buttons>

  </ion-content>
</div>