<ion-content>
  <app-cube-background></app-cube-background>
  <app-about-me></app-about-me>
  @if (sections['skills']) {
  <app-sections [section]="sections['skills']"></app-sections>
  }
  <app-skills></app-skills>

  @if (sections['projects']) {
  <app-sections [section]="sections['projects']"></app-sections>
  }
  <app-projects></app-projects>

  @if (sections['work-experience']) {
  <app-sections [section]="sections['work-experience']"></app-sections>
  }
  <app-works></app-works>
  @if (sections['certs-and-education']) {
  <app-sections [section]="sections['certs-and-education']"></app-sections>
  }
  <app-certs-and-education></app-certs-and-education>
  <app-github-chart></app-github-chart>
</ion-content>