<app-header-mobile></app-header-mobile>

<div class="ion-page" id="main-content">

  <app-header></app-header>

  <ion-content [fullscreen]="true">

    <app-cube-background></app-cube-background>

    <div class="main-container">

      @if (heroData) {
      <app-hero-section [data]="heroData" id="home"></app-hero-section>
      }

      @for (item of sections; track item.id) {
      <div class="section-wrapper" [id]="item.title.toLowerCase()">
        <div class="content-inner">
          <app-sections [section]="item"></app-sections>

          <ng-container *ngComponentOutlet="item.component; inputs: { data: item.extraData }">
          </ng-container>
        </div>
      </div>
      }

    </div>

    <app-floating-buttons></app-floating-buttons>

  </ion-content>
</div>