<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      @for (job of data; track job.id) {

      <ion-card class="item-card">
        <div class="card-content-wrapper">
          <div class="image-container">
            <img [alt]="job.title" [src]="job.imgUrl" />
          </div>
        </div>

        <ion-card-header>
          <ion-card-title>{{job.title}}</ion-card-title>
          <ion-card-subtitle>{{job.dateRange}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{job.description}}.
        </ion-card-content>
        <div class="hover-overlay">
          <ion-button fill="outline" class="github-btn" [href]="job.linkUrl" target="blank">
            <ion-icon slot="start" name="logo-linkedin"></ion-icon>
            View in LinkedIn
          </ion-button>
        </div>
      </ion-card>

      }
    </ion-col>
  </ion-row>
</ion-grid>