<div class="cube">
  <div class="face front"><strong class="light-green-text">Angular</strong></div>
  <div class="in-face in-front"><strong class="light-green-text">Spring Boot</strong></div>
  <div class="face back"><strong class="light-green-text">Material Design</strong></div>
  <div class="in-face in-back"><strong class="light-green-text">SQL</strong></div>
  <div class="face right"><strong class="light-green-text">Ionic</strong></div>
  <div class="in-face in-right"><strong class="light-green-text">Testing</strong></div>
  <div class="face left"><strong class="light-green-text">Debug</strong></div>
  <div class="in-face in-left"><strong class="light-green-text">Cafe</strong></div>
  <div class="face top"><strong class="light-green-text">GitHub</strong></div>
  <div class="in-face in-top"><strong class="light-green-text">API</strong></div>
  <div class="face bottom"><strong class="light-green-text">SCSS</strong></div>
  <div class="in-face in-bottom"><strong class="light-green-text">Commit</strong></div>
</div>