:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotateCube 10s infinite linear;
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transform-style: preserve-3d;

}

// Posicionamiento de las caras
.front {
    transform: translateZ(200px);
}

.back {
    transform: rotateY(180deg) translateZ(200px);
}

.right {
    transform: rotateY(90deg) translateZ(200px);
}

.left {
    transform: rotateY(-90deg) translateZ(200px);
}

.top {
    transform: rotateX(90deg) translateZ(200px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(200px);
}

@keyframes rotateCube {
    from {
        transform: rotateX(120deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}