<ion-card>
  <ion-card-header>
    <ion-card-title>Projects</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Here's a small list with my projects:
  </ion-card-content>
</ion-card>

<ion-grid [fixed]="true">
  <!--ROW 1-->
  <ion-row>
    @for (project of projects.slice(0, 3); track project.id) {
    <ion-col>
      <ion-card class="project-card">
        <div class="card-content-wrapper">
          <div class="image-container">
            <img [alt]="project.title" [src]="project.imgUrl" />
          </div>
        </div>

        <ion-card-header>
          <ion-card-title>{{project.title}}</ion-card-title>
          <ion-card-subtitle>{{project.subtitle}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{project.description}}.
        </ion-card-content>
        <div class="hover-overlay">
          <ion-button fill="outline" color="light" class="github-btn" [href]="project.gitUrl" target="blank">
            <ion-icon slot="start" name="logo-github"></ion-icon>
            View GitHub repository
          </ion-button>
        </div>
      </ion-card>
    </ion-col>
    }
  </ion-row>
  <!--ROW 2-->
  <ion-row>
    @for (project of projects.slice(3, 7); track project.id) {
    <ion-col>
      <ion-card class="project-card">
        <div class="card-content-wrapper">
          <div class="image-container">
            <img [alt]="project.title" [src]="project.imgUrl" />
          </div>
        </div>

        <ion-card-header>
          <ion-card-title>{{project.title}}</ion-card-title>
          <ion-card-subtitle>{{project.subtitle}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{project.description}}
        </ion-card-content>
        <div class="hover-overlay">
          <ion-button fill="outline" color="light" class="github-btn" [href]="project.gitUrl" target="blank">
            <ion-icon slot="start" name="logo-github"></ion-icon>
            View GitHub repository
          </ion-button>
        </div>
      </ion-card>
    </ion-col>
    }
  </ion-row>
  <!--ROW 3-->
  <ion-row>
    @for (project of projects.slice(7, 9); track project.id) {
    <ion-col>
      <ion-card class="project-card">
        <div class="card-content-wrapper">
          <div class="image-container">
            <img [alt]="project.title" [src]="project.imgUrl" />
          </div>
        </div>

        <ion-card-header>
          <ion-card-title>{{project.title}}</ion-card-title>
          <ion-card-subtitle>{{project.subtitle}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{project.description}}
        </ion-card-content>
        <div class="hover-overlay">
          <ion-button fill="outline" color="light" class="github-btn" [href]="project.gitUrl" target="blank">
            <ion-icon slot="start" name="logo-github"></ion-icon>
            View GitHub repository
          </ion-button>
        </div>
      </ion-card>
    </ion-col>
    }
  </ion-row>

</ion-grid>