<ion-card class="skills-ion-card">
  <ion-card-header>
    <ion-card-title>Skills</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    During my studies and internships, I have developed the following technical skills:
  </ion-card-content>
</ion-card>
<ion-grid [fixed]="true">
  <ion-row>
    <!--ANGULAR-->
    @for (skill of skills; track skill.id) {
    <ion-col>
      <div class="skills-img">
        <img [src]="skill.image" [alt]="skill.name">
      </div>
    </ion-col>
    }
  </ion-row>
</ion-grid>