/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import '@ionic/angular/css/palettes/dark.system.css';
@import '@ionic/angular/css/palettes/dark.always.css';
//-----COLORS PALETTE
$color-primary: greenyellow;
$color-green-dark: green;
$color-blue-dark: rgb(71, 143, 250);
$color-blue-light: rgb(50, 165, 194);
$color-magenta-light: rgb(185, 65, 233);
$color-orange-light: rgb(238, 149, 48);

ion-card-title {
    color: $color-primary;

}

.light-green-text {
    color: $color-primary;
}

.green-text {
    color: $color-green-dark;
}

.blue-dark-text {
    color: $color-blue-dark;
}

.blue-light-text {
    color: $color-blue-light;
}

.magenta-text {
    color: $color-magenta-light;
}

.orange-text {
    color: $color-orange-light;
}

.custom-fab-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.skills-ion-card {
    margin-top: 12px;
}


.skills-img img:hover {

    transform: scale(1.1);
}

.skills-img:hover::before {

    content: '';
    position: absolute;
    width: 85%;
    height: 60%;
    background: conic-gradient($color-green-dark, $color-green-dark);
    animation: 4s forwards linear infinite;


    filter: blur(1.5rem);
    opacity: 0.25;
    z-index: -1;

}

ion-button {
    margin: 0 6px;
    --background: greenyellow;
}

ion-fab-button {
    margin: 0 6px;
    --background: greenyellow;
}

.project-card {
    position: relative;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(39, 39, 39, 0.877);

    .card-content-wrapper {
        transition: filter 0.4s ease;
    }

    .hover-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        background: rgba(140, 180, 128, 0.301);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px); //safari

        opacity: 0;
        transition: opacity 0.4s ease;
        z-index: 2;
    }

    &:hover {
        .card-content-wrapper {
            filter: blur(2px);
        }

        .hover-overlay {
            opacity: 1;
        }
    }
}

.github-btn {
    --border-radius: 8px;
    font-weight: bold;
    text-transform: none;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.section-header {

    box-shadow: 0px 0px 4px $color-primary;
}