/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

//-----COLORS PALETTE
$color-primary: greenyellow;
$color-green-dark: green;
$color-blue-dark: rgb(71, 143, 250);
$color-blue-light: rgb(50, 165, 194);
$color-magenta-light: rgb(185, 65, 233);
$color-orange-light: rgb(238, 149, 48);

ion-card-title {
    color: $color-primary;

}

.green-text {
    color: $color-green-dark;
}

.blue-dark-text {
    color: $color-blue-dark;
}

.blue-light-text {
    color: $color-blue-light;
}

.magenta-text {
    color: $color-magenta-light;
}

.orange-text {
    color: $color-orange-light;
}

.skills-ion-card {
    margin-top: 12px;
}

//----SKILLS ITEMS
.skills-img img:hover {
    cursor: pointer;

    transform: scale(1.1);
}

.skills-img:hover::before {

    content: '';
    position: absolute;
    width: 85%; // Más ancho que el padre para que al rotar cubra todo
    height: 60%;
    // Degradado verdeamarillo neón
    background: conic-gradient($color-green-dark, $color-green-dark);
    animation: 4s forwards linear infinite;


    filter: blur(1.5rem);
    opacity: 0.25;
    z-index: -1;

}







#angular-img {}